<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446082820164-knm23r1mi83hnoljv9vjj8mup5r05vbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446082820164-knm23r1mi83hnoljv9vjj8mup5r05vbg</string>
	<key>API_KEY</key>
	<string>AIzaSyArGOtFLIAxhKkJqvrSjqbUS5r1zInc_ik</string>
	<key>GCM_SENDER_ID</key>
	<string>446082820164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.applesakota.ToDoListApp</string>
	<key>PROJECT_ID</key>
	<string>todolistiosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistiosapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446082820164:ios:dfa30f30f39be0afc27411</string>
</dict>
</plist>